let mapleader = " "
set visualbell
set noerrorbells
set ideajoin
set idearefactormode=keep
nmap <leader>w :w<CR>
nmap <leader>q :q<CR>
nmap <leader>v :vsplit<CR>
nmap <leader>h :split<CR>
imap jj <Esc>
set relativenumber number
set clipboard+=unnamedplus
set commentary
set surround
set NERDTree
nmap <leader>nn :NERDTreeToggle<CR>
nmap <leader>ns :NERDTreeFind<CR>
let g:NERDTRreeMapActivateNode = 'l'
let g:NERDTreeMAPJumpParent = 'h'
nmap <c-p> <Action>(PreviousTab)
nmap <c-n> <Action>(NextTab)
nmap <leader>sf <Action>(Find)
nmap <c-f><Action>(Find)
nmap <leader>ff <Action>(SearchEverywhere)
nmap <leader>fw <Action>(FindInPath)
nmap <leader>ee <Action>(RunAnything)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>rp <Action>(Replace)
nmap ; :
nmap <leader>wl <c-w>l
nmap <leader>wh <c-w>h
nmap <leader>wj <c-w>j
nmap <leader>wk <c-w>k
imap <C-e> <Esc>A
nmap <leader>t :action ActivateTerminalToolWindow<CR>
nmap <leader>ot :action ActivateTerminalToolWindow<CR>
nmap <leader>rc :g/^\s*#/d<CR>
nnoremap <leader>i bi