" -*- mode: vimrc -*-
" Doom Emacs-style IdeaVim configuration
" Base: sei40kr/idea-doom-emacs
" Custom layers: LSP, database, GitHub CLI, macOS, tags, run/debug, refactor

let mapleader = " "

" ============================================================================
" Core settings
" ============================================================================
set clipboard+=unnamed
set commentary
set history
set ignorecase
set matchpairs
set multiple-cursors
set number
set relativenumber
set smartcase
set surround
set wrapscan
set visualbell
set noerrorbells
set ideajoin=true
set idearefactormode=visual
set ideavimsupport=

" evil-escape
imap jk <Esc>

" ============================================================================
" Hybrid mode (Emacs keybindings in insert/command mode)
" ============================================================================
inoremap <C-a> <Esc>I
cnoremap <C-a> <Home>
inoremap <C-b> <Left>
inoremap <C-d> <Del>
inoremap <C-e> <Esc>A
cnoremap <C-e> <End>
inoremap <C-f> <Right>
noremap <C-g> <Esc>
inoremap <C-g> <Nop>
inoremap <C-h> <BS>
inoremap <C-k> <Esc>:action EditorDeleteToLineEnd<CR>a
inoremap <A-b> <Esc>:action EditorPreviousWord<CR>i
inoremap <A-f> <Esc>:action EditorNextWord<CR>a

" ============================================================================
" General bracket mappings
" ============================================================================
" Insert newline above/below
nnoremap [<Space> O<Esc>j
vnoremap [<Space> <Esc>O<Esc>j
nnoremap ]<Space> o<Esc>k
vnoremap ]<Space> <Esc>o<Esc>k

" Error navigation
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)

" Method navigation
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" Hunk navigation
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)

" Bookmark navigation
nmap [m <Action>(GotoPreviousBookmark)
nmap ]m <Action>(GotoNextBookmark)

" Search centered
nmap n nzz
nmap N Nzz

" Fold management
nmap zc <Action>(CollapseRegion)
nmap zo <Action>(ExpandRegion)
nmap zm <Action>(CollapseAllRegions)
nmap zr <Action>(ExpandAllRegions)
nmap zC <Action>(CollapseRegionRecursively)
nmap zO <Action>(ExpandRegionRecursively)

" doom-escape-hook
nnoremap <Esc> :<C-u>nohl<CR>:<C-u>action HideAllWindows<CR><Esc>

" Semicolon for command mode
nmap ; :

" K for documentation
nmap K <Action>(QuickJavaDoc)

" ============================================================================
" Buffer/Tab navigation (C-n/C-p like centaur-tabs)
" ============================================================================
nmap <C-n> <Action>(NextTab)
nmap <C-p> <Action>(PreviousTab)

" ============================================================================
" Quick launchers (SPC prefix, no group)
" ============================================================================
map <Leader>/ <Action>(FindInPath)
map <Leader>. <Action>(SearchEverywhere)
map <Leader><CR> <Action>(Bookmarks)
map <Leader>< <Action>(Switcher)
map <Leader>` <Action>(GoToLastTab)
map <Leader>~ <Action>(JumpToLastWindow)

let g:WhichKeyDesc_search_project = '<leader>/ Search project'
let g:WhichKeyDesc_find_file = '<leader>. Find file'
let g:WhichKeyDesc_jump_to_bookmark = '<leader><CR> Jump to bookmark'
let g:WhichKeyDesc_switch_buffer = '<leader>< Switch buffer'
let g:WhichKeyDesc_last_buffer = '<leader>` Switch to last buffer'
let g:WhichKeyDesc_last_popup = '<leader>~ Toggle last popup'

" ============================================================================
" +buffer (SPC b)
" ============================================================================
let g:WhichKeyDesc_buffer = '<leader>b +buffer'
map <Leader>bb <Action>(RecentFiles)
map <Leader>bd <Action>(CloseContent)
map <Leader>bk <Action>(CloseContent)
noremap <Leader>bs :<C-u>w<CR>
map <Leader>bK <Action>(CloseAllEditors)
map <Leader>bN <Action>(NewScratchBuffer)
map <Leader>bO <Action>(CloseAllEditorsButActive)
noremap <Leader>bS :<C-u>wa<CR>

let g:WhichKeyDesc_buffer_switch = '<leader>bb Switch workspace buffer'
let g:WhichKeyDesc_buffer_kill = '<leader>bd Kill buffer'
let g:WhichKeyDesc_buffer_kill2 = '<leader>bk Kill buffer'
let g:WhichKeyDesc_buffer_save = '<leader>bs Save buffer'
let g:WhichKeyDesc_buffer_kill_all = '<leader>bK Kill all buffers'
let g:WhichKeyDesc_buffer_new = '<leader>bN New empty buffer'
let g:WhichKeyDesc_buffer_kill_others = '<leader>bO Kill other buffers'
let g:WhichKeyDesc_buffer_save_all = '<leader>bS Save all buffers'

" ============================================================================
" +code (SPC c) - Doom's code prefix
" ============================================================================
let g:WhichKeyDesc_code = '<leader>c +code'
map <Leader>ca <Action>(ShowIntentionActions)
map <Leader>cc <Action>(CompileDirty)
noremap <Leader>cd gd
nmap <Leader>cf <Action>(ReformatCode)
map <Leader>ci <Action>(GotoImplementation)
map <Leader>cj <Action>(SearchEverywhere)
map <Leader>ck <Action>(QuickJavaDoc)
map <Leader>co <Action>(OptimizeImports)
map <Leader>cr <Action>(RenameElement)
map <Leader>ct <Action>(GotoTypeDeclaration)
map <Leader>cD <Action>(ShowUsages)
map <Leader>cC <Action>(Compile)

let g:WhichKeyDesc_code_action = '<leader>ca Code action'
let g:WhichKeyDesc_code_compile = '<leader>cc Compile'
let g:WhichKeyDesc_code_definition = '<leader>cd Jump to definition'
let g:WhichKeyDesc_code_format = '<leader>cf Format buffer'
let g:WhichKeyDesc_code_impl = '<leader>ci Find implementations'
let g:WhichKeyDesc_code_symbol = '<leader>cj Jump to symbol'
let g:WhichKeyDesc_code_doc = '<leader>ck Documentation'
let g:WhichKeyDesc_code_imports = '<leader>co Optimize imports'
let g:WhichKeyDesc_code_rename = '<leader>cr Rename'
let g:WhichKeyDesc_code_type = '<leader>ct Type definition'
let g:WhichKeyDesc_code_refs = '<leader>cD Jump to references'
let g:WhichKeyDesc_code_recompile = '<leader>cC Recompile'

" ============================================================================
" +database (SPC d) - Custom: ejc-sql equivalent
" ============================================================================
let g:WhichKeyDesc_database = '<leader>d +database'
map <Leader>dc <Action>(DatabaseView.Connect)
map <Leader>dC <Action>(Console.Jdbc.NewConsole)
map <Leader>de <Action>(Console.Jdbc.Execute)
map <Leader>dr <Action>(Console.Jdbc.RunQueryInConsole)
map <Leader>dt <Action>(DatabaseView.PropertiesAction)
map <Leader>dd <Action>(ActivateDatabaseToolWindow)
map <Leader>do <Action>(Console.Jdbc.ChooseSchema)
map <Leader>dq <Action>(CloseContent)
map <Leader>df <Action>(ReformatCode)

let g:WhichKeyDesc_db_connect = '<leader>dc Connect'
let g:WhichKeyDesc_db_console = '<leader>dC New console'
let g:WhichKeyDesc_db_eval = '<leader>de Execute query'
let g:WhichKeyDesc_db_run = '<leader>dr Run query'
let g:WhichKeyDesc_db_tables = '<leader>dt Properties'
let g:WhichKeyDesc_db_open = '<leader>dd Database tool window'
let g:WhichKeyDesc_db_schema = '<leader>do Choose schema'
let g:WhichKeyDesc_db_quit = '<leader>dq Disconnect'
let g:WhichKeyDesc_db_format = '<leader>df Format SQL'

" ============================================================================
" +file (SPC f)
" ============================================================================
let g:WhichKeyDesc_file = '<leader>f +file'
map <Leader>ff <Action>(SearchEverywhere)
map <Leader>fr <Action>(RecentFiles)
noremap <Leader>fs :<C-u>w<CR>
map <Leader>fy <Action>(CopyAbsolutePath)
map <Leader>fR <Action>(RefactoringMenu)
map <Leader>fc <Action>(NewEditorConfigFile)
map <Leader>fn <Action>(SelectInProjectView)
map <Leader>fw <Action>(FindInPath)

let g:WhichKeyDesc_file_find = '<leader>ff Find file'
let g:WhichKeyDesc_file_recent = '<leader>fr Recent files'
let g:WhichKeyDesc_file_save = '<leader>fs Save file'
let g:WhichKeyDesc_file_yank_path = '<leader>fy Copy filename'
let g:WhichKeyDesc_file_rename = '<leader>fR Rename/move file'
let g:WhichKeyDesc_file_editorconfig = '<leader>fc Open project editorconfig'
let g:WhichKeyDesc_file_browser = '<leader>fn File browser'
let g:WhichKeyDesc_file_grep = '<leader>fw Live grep'

" ============================================================================
" +git (SPC g)
" ============================================================================
let g:WhichKeyDesc_git = '<leader>g +git'
map <Leader>g' <Action>(GitHub.MainMenu)
map <Leader>g. <Action>(Git.FileActions)
map <Leader>g/ <Action>(Git.Menu)
nmap <Leader>g[ <Action>(VcsShowPrevChangeMarker)
nmap <Leader>g] <Action>(VcsShowNextChangeMarker)
map <Leader>gb <Action>(Git.Branches)
map <Leader>gr <Action>(Vcs.RollbackChangedLines)
map <Leader>gs <Action>(Vcs.Show.Shelf)
map <Leader>gt <Action>(Vcs.ShowTabbedFileHistory)
map <Leader>gB <Action>(Annotate)
map <Leader>gC <Action>(Vcs.VcsClone)
map <Leader>gF <Action>(Git.Fetch)
map <Leader>gS <Action>(Git.Add)
map <Leader>gd <Action>(Compare.SameVersion)
map <Leader>gD <Action>(Compare.LastVersion)

let g:WhichKeyDesc_git_github = "<leader>g' GitHub menu"
let g:WhichKeyDesc_git_file_actions = '<leader>g. Git file actions'
let g:WhichKeyDesc_git_menu = '<leader>g/ Git menu'
let g:WhichKeyDesc_git_prev_hunk = '<leader>g[ Previous hunk'
let g:WhichKeyDesc_git_next_hunk = '<leader>g] Next hunk'
let g:WhichKeyDesc_git_branches = '<leader>gb Switch branch'
let g:WhichKeyDesc_git_revert = '<leader>gr Revert hunk'
let g:WhichKeyDesc_git_status = '<leader>gs Status'
let g:WhichKeyDesc_git_time = '<leader>gt Time machine'
let g:WhichKeyDesc_git_blame = '<leader>gB Blame'
let g:WhichKeyDesc_git_clone = '<leader>gC Clone'
let g:WhichKeyDesc_git_fetch = '<leader>gF Fetch'
let g:WhichKeyDesc_git_stage = '<leader>gS Stage file'
let g:WhichKeyDesc_git_diff = '<leader>gd Diff this'
let g:WhichKeyDesc_git_diff_last = '<leader>gD Diff last version'

" +git/create (SPC g c)
let g:WhichKeyDesc_git_create = '<leader>gc +create'
map <Leader>gcb <Action>(Git.CreateNewBranch)
map <Leader>gcp <Action>(Github.Create.Pull.Request)
map <Leader>gcr <Action>(Git.Init)
map <Leader>gcR <Action>(Vcs.VcsClone)

let g:WhichKeyDesc_git_create_branch = '<leader>gcb Branch'
let g:WhichKeyDesc_git_create_pr = '<leader>gcp Pull request'
let g:WhichKeyDesc_git_init = '<leader>gcr Initialize repo'
let g:WhichKeyDesc_git_clone2 = '<leader>gcR Clone repo'

" +git/github (SPC g h) - Custom: gh CLI equivalent
let g:WhichKeyDesc_github = '<leader>gh +github'
map <Leader>ghp <Action>(Github.Create.Pull.Request)
map <Leader>gho <Action>(Github.Open.In.Browser)
map <Leader>ghv <Action>(Github.View.Pull.Request)

let g:WhichKeyDesc_gh_pr = '<leader>ghp Create PR'
let g:WhichKeyDesc_gh_browse = '<leader>gho Open repo in browser'
let g:WhichKeyDesc_gh_view = '<leader>ghv View PR in browser'

" +git/list (SPC g l)
let g:WhichKeyDesc_git_list = '<leader>gl +list'
map <Leader>glp <Action>(Github.View.Pull.Request)
let g:WhichKeyDesc_git_list_prs = '<leader>glp List pull requests'

" +git/open (SPC g o)
let g:WhichKeyDesc_git_open = '<leader>go +open'
map <Leader>goo <Action>(Github.Open.In.Browser)
map <Leader>gop <Action>(com.github.shiraji.findpullrequest.action.FindPullRequestAction)

let g:WhichKeyDesc_git_open_browser = '<leader>goo Browse file or region'
let g:WhichKeyDesc_git_open_pr = '<leader>gop Browse a pull request'

" ============================================================================
" +help (SPC h)
" ============================================================================
let g:WhichKeyDesc_help = '<leader>h +help'
map <Leader>he <Action>(ActivateEventLogToolWindow)
map <Leader>hr <Action>(IdeaVim.ReloadVimRc.reload)
map <Leader>ht <Action>(ChangeLaf)

let g:WhichKeyDesc_help_event = '<leader>he Event log'
let g:WhichKeyDesc_help_reload = '<leader>hr Reload IdeaVim config'
let g:WhichKeyDesc_help_theme = '<leader>ht Change theme'

" ============================================================================
" +insert (SPC i)
" ============================================================================
let g:WhichKeyDesc_insert = '<leader>i +insert'
nmap <Leader>ie <Action>(EmojiAndSymbols)
nmap <Leader>is <Action>(InsertLiveTemplate)
nmap <Leader>iu <Action>(EmojiAndSymbols)
nmap <Leader>iy <Action>(PasteMultiple)

let g:WhichKeyDesc_insert_emoji = '<leader>ie Insert emoji'
let g:WhichKeyDesc_insert_template = '<leader>is Insert live template'
let g:WhichKeyDesc_insert_unicode = '<leader>iu Insert unicode'
let g:WhichKeyDesc_insert_clipboard = '<leader>iy Insert from clipboard'

" ============================================================================
" +lsp (SPC l) - Custom: eglot equivalent
" ============================================================================
let g:WhichKeyDesc_lsp = '<leader>l +lsp'
map <Leader>lr <Action>(RenameElement)
map <Leader>la <Action>(ShowIntentionActions)
map <Leader>lf <Action>(ReformatCode)
map <Leader>lF <Action>(ReformatCode)
map <Leader>li <Action>(GotoImplementation)
map <Leader>lt <Action>(GotoTypeDeclaration)
map <Leader>ls <Action>(GotoSymbol)
map <Leader>ld <Action>(ActivateProblemsViewToolWindow)
map <Leader>lR <Action>(RestartIde)
map <Leader>lq <Action>(StopBackgroundProcesses)

let g:WhichKeyDesc_lsp_rename = '<leader>lr Rename'
let g:WhichKeyDesc_lsp_action = '<leader>la Code actions'
let g:WhichKeyDesc_lsp_format = '<leader>lf Format buffer'
let g:WhichKeyDesc_lsp_format_region = '<leader>lF Format region'
let g:WhichKeyDesc_lsp_impl = '<leader>li Implementations'
let g:WhichKeyDesc_lsp_type = '<leader>lt Type definition'
let g:WhichKeyDesc_lsp_symbols = '<leader>ls Workspace symbols'
let g:WhichKeyDesc_lsp_diag = '<leader>ld Diagnostics'
let g:WhichKeyDesc_lsp_restart = '<leader>lR Restart'
let g:WhichKeyDesc_lsp_shutdown = '<leader>lq Shutdown'

" ============================================================================
" +notes (SPC n) - Custom: notes equivalent
" ============================================================================
let g:WhichKeyDesc_notes = '<leader>n +notes'
map <Leader>ns <Action>(NewScratchFile)
map <Leader>nb <Action>(Scratches.ShowRecentScratchFiles)

let g:WhichKeyDesc_notes_scratch = '<leader>ns New scratch file'
let g:WhichKeyDesc_notes_browse = '<leader>nb Browse scratch files'

" ============================================================================
" +open (SPC o)
" ============================================================================
let g:WhichKeyDesc_open = '<leader>o +open'
nmap <Leader>of <Action>(EditSourceInNewWindow)
nmap <Leader>oF <Action>(OpenProjectWindows)
noremap <Leader>op :<C-u>NERDTreeFind<CR>
noremap <Leader>oP :<C-u>NERDTreeToggle<CR>
nmap <Leader>oo <Action>(RevealIn)
nmap <Leader>ot <Action>(ActivateTerminalToolWindow)
nmap <Leader>oT <Action>(Terminal.OpenInTerminal)

" macOS integration (mirrors Doom SPC o)
nmap <Leader>ox <Action>(RevealIn)
nmap <Leader>ow <Action>(OpenProjectWindows)

let g:WhichKeyDesc_open_window = '<leader>of New window'
let g:WhichKeyDesc_open_select = '<leader>oF Select window'
let g:WhichKeyDesc_open_project = '<leader>op Find in project view'
let g:WhichKeyDesc_open_find = '<leader>oP Toggle project view'
let g:WhichKeyDesc_open_reveal = '<leader>oo Reveal in filer'
let g:WhichKeyDesc_open_term = '<leader>ot Open terminal'
let g:WhichKeyDesc_open_term_here = '<leader>oT Open terminal here'
let g:WhichKeyDesc_open_default = '<leader>ox Open in default app'
let g:WhichKeyDesc_open_with = '<leader>ow Open with...'

" ============================================================================
" +project (SPC p)
" ============================================================================
let g:WhichKeyDesc_project = '<leader>p +project'
map <Leader>p! <Action>(RunAnything)
map <Leader>pi <Action>(InvalidateCaches)
map <Leader>pp <Action>(ManageRecentProjects)
map <Leader>pt <Action>(ActivateTODOToolWindow)
map <Leader>pz <Action>(RunAnything)
map <Leader>pR <Action>(Run)

let g:WhichKeyDesc_project_cmd = '<leader>p! Run cmd in project root'
let g:WhichKeyDesc_project_cache = '<leader>pi Invalidate cache'
let g:WhichKeyDesc_project_switch = '<leader>pp Switch projects'
let g:WhichKeyDesc_project_todo = '<leader>pt Show TODO'
let g:WhichKeyDesc_project_tasks = '<leader>pz List project tasks'
let g:WhichKeyDesc_project_run = '<leader>pR Run project'

" ============================================================================
" +refactor (SPC R) - Custom: Doom-style refactoring
" ============================================================================
let g:WhichKeyDesc_refactor = '<leader>R +refactor'
nmap <Leader>Rr <Action>(RenameElement)
nmap <Leader>Rm <Action>(ExtractMethod)
nmap <Leader>Rv <Action>(IntroduceVariable)
nmap <Leader>Rf <Action>(IntroduceField)
nmap <Leader>Rc <Action>(IntroduceConstant)
nmap <Leader>Rp <Action>(IntroduceParameter)
nmap <Leader>Ri <Action>(Inline)
nmap <Leader>Rs <Action>(ChangeSignature)
nmap <Leader>RR <Action>(Refactorings.QuickListPopupAction)
nmap <Leader>Re <Action>(ExtractInterface)
nmap <Leader>RS <Action>(ExtractSuperclass)
nmap <Leader>Ro <Action>(Move)
nmap <Leader>Rd <Action>(SafeDelete)

let g:WhichKeyDesc_refactor_rename = '<leader>Rr Rename'
let g:WhichKeyDesc_refactor_method = '<leader>Rm Extract method'
let g:WhichKeyDesc_refactor_var = '<leader>Rv Extract variable'
let g:WhichKeyDesc_refactor_field = '<leader>Rf Extract field'
let g:WhichKeyDesc_refactor_const = '<leader>Rc Extract constant'
let g:WhichKeyDesc_refactor_param = '<leader>Rp Extract parameter'
let g:WhichKeyDesc_refactor_inline = '<leader>Ri Inline'
let g:WhichKeyDesc_refactor_sig = '<leader>Rs Change signature'
let g:WhichKeyDesc_refactor_menu = '<leader>RR Refactoring menu'
let g:WhichKeyDesc_refactor_iface = '<leader>Re Extract interface'
let g:WhichKeyDesc_refactor_super = '<leader>RS Extract superclass'
let g:WhichKeyDesc_refactor_move = '<leader>Ro Move'
let g:WhichKeyDesc_refactor_delete = '<leader>Rd Safe delete'

" ============================================================================
" +run/debug (SPC r) - Custom: run/debug operations
" ============================================================================
let g:WhichKeyDesc_run = '<leader>r +run'
nmap <Leader>rr <Action>(Run)
nmap <Leader>rc <Action>(RunClass)
nmap <Leader>rf <Action>(ChooseRunConfiguration)
nmap <Leader>rt <Action>(RunTests)
nmap <Leader>rR <Action>(Rerun)
nmap <Leader>rT <Action>(RerunTests)
nmap <Leader>rs <Action>(Stop)
nmap <Leader>rd <Action>(Debug)
nmap <Leader>rD <Action>(DebugClass)
nmap <Leader>rb <Action>(ToggleLineBreakpoint)
nmap <Leader>rB <Action>(ViewBreakpoints)
nmap <Leader>rh <Action>(HotSwapAction)
nmap <Leader>ra <Action>(CompileDirty)
nmap <Leader>rC <Action>(RunCoverage)

let g:WhichKeyDesc_run_run = '<leader>rr Run'
let g:WhichKeyDesc_run_class = '<leader>rc Run class'
let g:WhichKeyDesc_run_config = '<leader>rf Choose configuration'
let g:WhichKeyDesc_run_test = '<leader>rt Run tests'
let g:WhichKeyDesc_run_rerun = '<leader>rR Rerun'
let g:WhichKeyDesc_run_rerun_tests = '<leader>rT Rerun tests'
let g:WhichKeyDesc_run_stop = '<leader>rs Stop'
let g:WhichKeyDesc_run_debug = '<leader>rd Debug'
let g:WhichKeyDesc_run_debug_class = '<leader>rD Debug class'
let g:WhichKeyDesc_run_breakpoint = '<leader>rb Toggle breakpoint'
let g:WhichKeyDesc_run_breakpoints = '<leader>rB View breakpoints'
let g:WhichKeyDesc_run_hotswap = '<leader>rh Hot swap'
let g:WhichKeyDesc_run_compile = '<leader>ra Compile dirty'
let g:WhichKeyDesc_run_coverage = '<leader>rC Run with coverage'

" Debug stepping (when in debug mode)
nmap <Leader>ro <Action>(StepOver)
nmap <Leader>ri <Action>(StepInto)
nmap <Leader>rO <Action>(StepOut)
nmap <Leader>rx <Action>(Resume)
nmap <Leader>rv <Action>(EvaluateExpression)
nmap <Leader>rw <Action>(Debugger.AddToWatch)
nmap <Leader>rX <Action>(RunToCursor)

let g:WhichKeyDesc_run_step_over = '<leader>ro Step over'
let g:WhichKeyDesc_run_step_into = '<leader>ri Step into'
let g:WhichKeyDesc_run_step_out = '<leader>rO Step out'
let g:WhichKeyDesc_run_resume = '<leader>rx Resume'
let g:WhichKeyDesc_run_eval = '<leader>rv Evaluate expression'
let g:WhichKeyDesc_run_watch = '<leader>rw Add to watch'
let g:WhichKeyDesc_run_to_cursor = '<leader>rX Run to cursor'

" ============================================================================
" +search (SPC s)
" ============================================================================
let g:WhichKeyDesc_search = '<leader>s +search'
map <Leader>sp <Action>(FindInPath)
map <Leader>sk <Action>(SmartSearchAction)
map <Leader>sf <Action>(Find)
map <Leader>sr <Action>(Replace)
map <Leader>sl <Action>(FindUsages)

let g:WhichKeyDesc_search_project2 = '<leader>sp Search project'
let g:WhichKeyDesc_search_smart = '<leader>sk Smart search'
let g:WhichKeyDesc_search_file = '<leader>sf Search in file'
let g:WhichKeyDesc_search_replace = '<leader>sr Search and replace'
let g:WhichKeyDesc_search_usages = '<leader>sl Find usages'

" Visual mode search
vmap * y/<C-R>"<CR>
vmap # y?<C-R>"<CR>
vmap <Leader>sl y:action FindInPath<CR>

" ============================================================================
" +toggle (SPC t)
" ============================================================================
let g:WhichKeyDesc_toggle = '<leader>t +toggle'
map <Leader>tb <Action>(TogglePresentationMode)
map <Leader>tl <Action>(EditorToggleShowLineNumbers)
map <Leader>tr <Action>(ToggleReadOnlyAttribute)
map <Leader>tw <Action>(EditorToggleUseSoftWraps)
map <Leader>tz <Action>(ToggleDistractionFreeMode)
map <Leader>tZ <Action>(ToggleZenMode)
map <Leader>tF <Action>(ToggleFullScreen)

let g:WhichKeyDesc_toggle_present = '<leader>tb Presentation mode'
let g:WhichKeyDesc_toggle_lines = '<leader>tl Line numbers'
let g:WhichKeyDesc_toggle_readonly = '<leader>tr Read-only mode'
let g:WhichKeyDesc_toggle_wrap = '<leader>tw Soft line wrapping'
let g:WhichKeyDesc_toggle_distraction = '<leader>tz Distraction free mode'
let g:WhichKeyDesc_toggle_zen = '<leader>tZ Zen mode'
let g:WhichKeyDesc_toggle_fullscreen = '<leader>tF Fullscreen'

" ============================================================================
" +window (SPC w)
" ============================================================================
let g:WhichKeyDesc_window = '<leader>w +window'
noremap <Leader>wc <C-w>c
noremap <Leader>wd <C-w>c
noremap <Leader>wh <C-w>h
noremap <Leader>wj <C-w>j
noremap <Leader>wk <C-w>k
noremap <Leader>wl <C-w>l
noremap <Leader>ws <C-w>s
noremap <Leader>wv <C-w>v
noremap <Leader>ww <C-w>w
noremap <Leader>wW <C-w>W
noremap <Leader>wq <C-w>c
noremap <Leader>wm <Action>(Unsplit)

" Error description in window prefix (Doom convention)
nmap <C-w>d <Action>(ShowErrorDescription)
nmap <C-w><C-d> <Action>(ShowErrorDescription)

" ============================================================================
" +yank (SPC y) - Custom: copy operations
" ============================================================================
let g:WhichKeyDesc_yank = '<leader>y +yank'
nmap <Leader>yf <Action>(CopyPaths)
nmap <Leader>yF <Action>(CopyAbsolutePath)
nmap <Leader>yr <Action>(CopyReference)
nmap <Leader>yl <Action>(CopyContentRootPath)

let g:WhichKeyDesc_yank_rel = '<leader>yf Copy relative path'
let g:WhichKeyDesc_yank_abs = '<leader>yF Copy absolute path'
let g:WhichKeyDesc_yank_ref = '<leader>yr Copy reference'
let g:WhichKeyDesc_yank_line = '<leader>yl Copy path with line'

" ============================================================================
" +build (SPC B) - Custom: build operations
" ============================================================================
let g:WhichKeyDesc_build = '<leader>B +build'
nmap <Leader>Bb <Action>(CompileDirty)
nmap <Leader>BB <Action>(Compile)
nmap <Leader>Br <Action>(BuildProject)
nmap <Leader>BR <Action>(RebuildProject)
nmap <Leader>Bc <Action>(CleanProject)
nmap <Leader>Bg <Action>(Gradle.RefreshDependencies)
nmap <Leader>Be <Action>(Gradle.ExecuteTask)

let g:WhichKeyDesc_build_dirty = '<leader>Bb Compile dirty'
let g:WhichKeyDesc_build_all = '<leader>BB Compile all'
let g:WhichKeyDesc_build_project = '<leader>Br Build project'
let g:WhichKeyDesc_build_rebuild = '<leader>BR Rebuild project'
let g:WhichKeyDesc_build_clean = '<leader>Bc Clean'
let g:WhichKeyDesc_build_gradle = '<leader>Bg Gradle refresh'
let g:WhichKeyDesc_build_gradle_task = '<leader>Be Gradle task'

" ============================================================================
" +marks/bookmarks (SPC m) - Custom
" ============================================================================
let g:WhichKeyDesc_marks = '<leader>m +marks'
nmap <Leader>mm <Action>(ToggleBookmark)
nmap <Leader>ms <Action>(ShowBookmarks)
nmap <Leader>ml <Action>(ShowBookmarks)
nmap <Leader>m1 <Action>(ToggleBookmark1)
nmap <Leader>m2 <Action>(ToggleBookmark2)
nmap <Leader>m3 <Action>(ToggleBookmark3)
nmap <Leader>m4 <Action>(ToggleBookmark4)
nmap <Leader>m5 <Action>(ToggleBookmark5)
nmap <Leader>m6 <Action>(ToggleBookmark6)
nmap <Leader>m7 <Action>(ToggleBookmark7)
nmap <Leader>m8 <Action>(ToggleBookmark8)
nmap <Leader>m9 <Action>(ToggleBookmark9)

let g:WhichKeyDesc_marks_toggle = '<leader>mm Toggle bookmark'
let g:WhichKeyDesc_marks_show = '<leader>ms Show bookmarks'
let g:WhichKeyDesc_marks_list = '<leader>ml List bookmarks'

" ============================================================================
" +tool windows (SPC O) - Custom: quick tool access
" ============================================================================
let g:WhichKeyDesc_tools = '<leader>O +tool-windows'
nmap <Leader>Ot <Action>(ActivateTerminalToolWindow)
nmap <Leader>Op <Action>(ActivateProjectToolWindow)
nmap <Leader>Or <Action>(ActivateRunToolWindow)
nmap <Leader>Od <Action>(ActivateDebugToolWindow)
nmap <Leader>OD <Action>(ActivateDatabaseToolWindow)
nmap <Leader>Og <Action>(ActivateCommitToolWindow)
nmap <Leader>Ov <Action>(ActivateVersionControlToolWindow)
nmap <Leader>Os <Action>(ActivateStructureToolWindow)
nmap <Leader>Oi <Action>(ActivateProblemsViewToolWindow)
nmap <Leader>Oe <Action>(ActivateServicesToolWindow)
nmap <Leader>Ob <Action>(ActivateBuildToolWindow)
nmap <Leader>OT <Action>(ActivateTODOToolWindow)
nmap <Leader>OG <Action>(ActivateGradleToolWindow)
nmap <Leader>Ow <Action>(HideAllWindows)

let g:WhichKeyDesc_tool_term = '<leader>Ot Terminal'
let g:WhichKeyDesc_tool_project = '<leader>Op Project'
let g:WhichKeyDesc_tool_run = '<leader>Or Run'
let g:WhichKeyDesc_tool_debug = '<leader>Od Debug'
let g:WhichKeyDesc_tool_db = '<leader>OD Database'
let g:WhichKeyDesc_tool_commit = '<leader>Og Commit'
let g:WhichKeyDesc_tool_vcs = '<leader>Ov Version control'
let g:WhichKeyDesc_tool_struct = '<leader>Os Structure'
let g:WhichKeyDesc_tool_problems = '<leader>Oi Problems'
let g:WhichKeyDesc_tool_services = '<leader>Oe Services'
let g:WhichKeyDesc_tool_build = '<leader>Ob Build'
let g:WhichKeyDesc_tool_todo = '<leader>OT TODO'
let g:WhichKeyDesc_tool_gradle = '<leader>OG Gradle'
let g:WhichKeyDesc_tool_hide = '<leader>Ow Hide all windows'

" ============================================================================
" +HTTP (SPC H) - Custom: API testing
" ============================================================================
let g:WhichKeyDesc_http = '<leader>H +http'
nmap <Leader>He <Action>(RestClient.RunRequest)
nmap <Leader>Hc <Action>(RestClient.RunAllRequestsInFile)
nmap <Leader>Hn <Action>(RestClient.NewRequest)
nmap <Leader>Hs <Action>(ShowHttpRequests)

let g:WhichKeyDesc_http_run = '<leader>He Execute request'
let g:WhichKeyDesc_http_all = '<leader>Hc Run all requests'
let g:WhichKeyDesc_http_new = '<leader>Hn New request'
let g:WhichKeyDesc_http_show = '<leader>Hs Show requests'

" ============================================================================
" Emulated plugins
" ============================================================================

" argtextobj
let g:argtextobj_pairs = '(:),{:},[:]'
set argtextobj

" easymotion (gs prefix, Doom convention)
let g:EasyMotion_do_mapping = 0
let g:EasyMotion_startofline = 0
set easymotion
unmap <Leader><Space>
map gsb <Plug>(easymotion-bl)
map gse <Plug>(easymotion-el)
map gsf <Plug>(easymotion-f)
map gsF <Plug>(easymotion-F)
map gsj <Plug>(easymotion-j)
map gsk <Plug>(easymotion-k)
map gsn <Plug>(easymotion-n)
map gsN <Plug>(easymotion-N)
map gss <Plug>(easymotion-s2)
map gst <Plug>(easymotion-t)
map gsT <Plug>(easymotion-T)
map gsw <Plug>(easymotion-wl)
map gsge <Plug>(easymotion-gel)

" highlightedyank
set highlightedyank

" NERDTree
let g:NERDTreeMapActivateNode = 'l'
let g:NERDTreeMapPreview = '<Nop>'
let g:NERDTreeMapOpenInTab = 'oo'
let g:NERDTreeMapOpenInTabSilent = '<Nop>'
let g:NERDTreeMapOpenSplit = 'ov'
let g:NERDTreeMapPreviewSplit = '<Nop>'
let g:NERDTreeMapOpenVSplit = 'os'
let g:NERDTreeMapPreviewVSplit = '<Nop>'
let g:NERDTreeMapOpenRecursively = '<Nop>'
let g:NERDTreeMapCloseDir = 'h'
let g:NERDTreeMapCloseChildren = '<Nop>'
let g:NERDTreeMapJumpRoot = '<Nop>'
let g:NERDTreeMapJumpParent = 'K'
let g:NERDTreeMapJumpFirstChild = '<Nop>'
let g:NERDTreeMapJumpLastChild = '<Nop>'
let g:NERDTreeMapJumpNextSibling = 'L'
let g:NERDTreeMapJumpPrevSibling = 'H'
let g:NERDTreeMapRefresh = '<Nop>'
let g:NERDTreeMapRefreshRoot = 'gr'
let g:NERDTreeMapMenu = '<Nop>'
let g:NERDTreeMapToggleZoom = '<Nop>'
set NERDTree

" vim-which-key
let g:WhichKey_DefaultDelay = 500
let g:WhichKey_ShowVimActions = 'true'
set notimeout
set which-key
