[user]
	name = timothyjamesmarias
	email = timothyjamesmarias@gmail.com
[core]
	autocrlf = input
  editor = nvim
  pager = delta
	excludesfile = ~/.config/git/gitignore
[delta]
  navigate = true
  line-numbers = true
  syntax-theme = base16
[merge]
  conflictstyle = diff3
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
